body {
  background-image: url("https://images.immediate.co.uk/production/volatile/sites/2/2015/08/12812.jpg?webp=true&quality=90&resize=728%2C309");
}

ul {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

h1 {
  font-weight: bold;
  color: aqua;
}

h2 {
  font-weight: bold;
  color: aqua;
}
.panel-heading {
  font-weight: bold;
  color: aqua;
}
.panel-body {
  font-weight: bold;
  color: aqua;
}
.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}
span {
  font-weight: bold;
  color: floralwhite;
}
.panel-body {
  margin-bottom: 5px;
}
