body {
  background-image: url('https://img.cinemablend.com/filter:scale/quill/9/6/6/3/7/a/96637aabb562881adec1336c0d78acc6cc5d1403.jpg?fw=375');
}

ul {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

h2 {
  font-weight: bold;
  color: black;
}
.panel-heading {
  font-weight: bold;
  color: white;
}
.panel-body {
  font-weight: bold;
  color: aqua;
}
.create-form {
  padding: 5px;
  margin: 5px;
  /* background: aqua; */
}
span {
  font-weight: bold;
  color: floralwhite;
}
.panel-body {
  margin-bottom: 5px;
}
